<div class="container">
  <div justify="justify-content-center"><h4>REGISTER PAGE</h4></div>
    <div [hidden]="isShowReg" class="alert alert-info" role="alert" >
        {{content}}
      </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
          <div class="input-group">
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" #emailText class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" #passwordText class="form-control" id="exampleInputPassword1" placeholder="Password" name="up" required>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="sendValues(emailText.value,passwordText.value); emailText.value=''; passwordText.value=''; ">Register</button>
                </form>
          </div>
      </div>
    </div>
  </div>